html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato';
    background-color: white;
    color: #13112b;
    font-size: 1.4rem;

    min-height: 100vh;

    display: flex;
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

input{
    outline: none;
}

*{
    /* border: 0.1rem solid black; */
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}



/*--------------------------
    LEFT SIDE BAR
---------------------------*/

.left-sidebar{
    text-align: center;
    background-image: linear-gradient(to bottom, #f17056 1%,#fd5272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    flex-basis: 5.164%;
    display: flex;
    flex-direction: column;

    box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.13); 
}

.left-sidebar .logo{
    height: 7rem;
    background-color: white;
    display: flex;
}

.left-sidebar .logo img{
    margin: auto;
}    

.left-sidebar nav{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.left-sidebar nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    padding: 1.3rem 0;
    position: relative;
}    

.left-sidebar nav a.selected:after{
    content: "";
    display: block;
    position: absolute;
    border: 1rem solid transparent;	
    border-left: 1rem solid #f26d59;
    right: -2rem;
    top: 2.6rem;
}    

.left-sidebar nav img{
    margin: 0 auto;
    display: block;
    margin-bottom: 1.1rem;
}    

.left-sidebar button{
    margin: 1.8rem 0;
}    

/*--------------------------
    CONTAINER
---------------------------*/

.container{
    flex-basis: 94.836%;
    display: flex;
    flex-direction: column;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    flex-basis: 6.9%;
    display: flex;
    align-content: center;
    
    border-bottom: 0.1rem solid #f1f1f1;
}

header button:not(:last-child){
    padding: 0 2.0rem;
    border-right: 0.1rem solid #f1f1f1;
}

header button:nth-of-type(4){
    border-left: 0.1rem solid #f1f1f1;
}

header .search{
    margin:auto;
    width: 25%;
}

header .search input{
    width: 100%;
    border-radius: 2.5rem;
    border: 0.1rem solid #f1f1f1;
    padding: 1.0rem;
    background-image: url(../images/header/search.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}

header .search input::placeholder{
    color: #c8c8c8;
}    

header .user{
    display: flex;
}    

header .user figure > img{
    height: 100%;
}    

header .user section{
    margin: auto 1.8rem;
}

header .user section h2,
header .user section p{
    padding: 0;
    margin: 0;
}

header .user section h2{
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #fd4e75, #fc7858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .user section p{
    font-size: 1.2rem;
    color: #bfbfbf;
}    

header .user .more{
    background-image: url(../images/more.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 1.8rem;
}

/*--------------------------
    STATIC BAR
---------------------------*/

.static-bar{
    flex-basis: 9.6%;
    display: flex;
}

.static-bar .static-index{
    align-self: center;
    flex-grow: 1;
}

.static-bar .static-index h3,
.static-bar .static-index p{
    padding: 0;
    margin: 0;
}

/*--------------------------
    MAIN FILLING
---------------------------*/

.main-filling{
    display: flex;
    flex-basis: 83.5%;
}

/*--------------------------
    MAIN 
---------------------------*/

main{
    flex-basis: 79.183%;
}

main .row,
main header{    
    display: flex;
}

main .monthly-revenue header h3{
    margin-right: auto;
}  

main .monthly-revenue header nav{
    align-self: center;
}    

main .row .hour-revenue,    
main .row .monthly-revenue{
    flex-grow: 1;
}    

main .customers-feed .comments{
    display: flex;
}

main .customers-feed .comments img{
    /* height:  */
}    

main .today-task .task{
    display: flex;
}
    

/*--------------------------
    RIGHT SIDEBAR
---------------------------*/

.right-sidebar{
    flex-basis: 20.817%;
    display: flex;
    flex-direction: column;
}

.right-sidebar nav{
    display: flex;
}    

.right-sidebar nav button{
    flex-grow: 1;
    align-self: center;
}

.right-sidebar .users-list{
    padding: 0;
    margin: 0;
    list-style: none;
}    

.right-sidebar .user{
    display: flex;
}    

.right-sidebar .user figure,
.right-sidebar .user section,
.right-sidebar .user button{
    flex-grow: 1;
    align-self: center;
}

.right-sidebar .user h3,    
.right-sidebar .user p{
    margin: 0;
}

.right-sidebar .sponsors div{
    background-color: orange;
}    

.right-sidebar .sponsors article{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}    
    
.right-sidebar .sponsors article div{
    flex-basis: 30%;
}    