html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato';
    background-color: white;
    color: #13112b;
    font-size: 1.4rem;

    min-height: 100vh;

    display: flex;
    
}

*{
    border: 0.1rem solid black;
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}

.left-sidebar{
    flex-basis: 5.164%;
}

.container{
    flex-basis: 94.836%;
    display: flex;
    flex-direction: column;
}

header{
    flex-basis: 6.9%;
}

.static-bar{
    flex-basis: 9.6%;
}

.main-filling{
    display: flex;
    flex-basis: 83.5%;
}

main{
    flex-basis: 79.183%;
}

.right-sidebar{
    flex-basis: 20.817%;
}


/*--------------------------
    HEADER
---------------------------*/

/*--------------------------
    FOOTER
---------------------------*/
