html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato';
    background-color: white;
    color: #13112b;
    font-size: 1.4rem;

    min-height: 100vh;

    display: flex;
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

input{
    outline: none;
}

*{
    /* border: 0.1rem solid black; */
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}



/*--------------------------
    LEFT SIDE BAR
---------------------------*/

.left-sidebar{
    text-align: center;
    background-image: linear-gradient(to bottom, #f17056 1%,#fd5272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    flex-basis: 5.164%;
    display: flex;
    flex-direction: column;

    box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.13); 
}

.left-sidebar .logo{
    height: 7rem;
    background-color: white;
    display: flex;
}

.left-sidebar .logo img{
    margin: auto;
}    

.left-sidebar nav{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.left-sidebar nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    padding: 1.3rem 0;
    position: relative;
}    

.left-sidebar nav a.selected:after{
    content: "";
    display: block;
    position: absolute;
    border: 1rem solid transparent;	
    border-left: 1rem solid #f26d59;
    right: -2rem;
    top: 2.6rem;
}    

.left-sidebar nav img{
    margin: 0 auto;
    display: block;
    margin-bottom: 1.1rem;
}    

.left-sidebar button{
    margin: 1.8rem 0;
}    

/*--------------------------
    CONTAINER
---------------------------*/

.container{
    flex-basis: 94.836%;
    display: flex;
    flex-direction: column;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    flex-basis: 6.9%;
    display: flex;
    align-content: center;
    
    border-bottom: 0.1rem solid #f1f1f1;
}

header button:not(:last-child){
    padding: 0 2.0rem;
    border-right: 0.1rem solid #f1f1f1;
}

header button:nth-of-type(4){
    border-left: 0.1rem solid #f1f1f1;
}

header .search{
    margin:auto;
    width: 25%;
}

header .search input{
    width: 100%;
    border-radius: 2.5rem;
    border: 0.1rem solid #f1f1f1;
    padding: 1.0rem;
    background-image: url(../images/header/search.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}

header .search input::placeholder{
    color: #c8c8c8;
}    

header .user{
    display: flex;
}    

header .user figure > img{
    height: 100%;
}    

header .user section{
    margin: auto 1.8rem;
}

header .user section h2,
header .user section p{
    padding: 0;
    margin: 0;
}

header .user section h2{
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #fd4e75, #fc7858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .user section p{
    font-size: 1.2rem;
    color: #bfbfbf;
}    

header .user .more{
    background-image: url(../images/more.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 1.8rem;
}

/*--------------------------
    STATIC BAR
---------------------------*/

.static-bar{
    flex-basis: 9.6%;
    display: flex;
}

.static-bar .static-index{
    align-self: center;
    flex-grow: 1;
    margin: auto 4.25rem;
}

.static-bar .static-index h3,
.static-bar .static-index p{
    padding: 0;
    margin: 0;
}

.static-bar .static-index h3{
    font-size: 1.2rem;
    color: #777777;
}

.static-bar .static-index p{
    font-size: 2.0rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #fd4e75, #fc7858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.35rem 0;
}

.static-bar .static-index span{
    font-size: 1.2rem;
    color: #bfbfbf;    
    font-weight: 700;
    position: relative;
}    

.static-bar .static-index span.came:before{
    content: "▴";
    color: #a889e9;
}

.static-bar .static-index span.gone:before{
    content: "▾";
    color: #fd5670;
}

.static-bar .static-index:last-child{
    margin: auto 2.5rem;
}

.static-bar .static-index .add{
    font-size: 1.2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #fd4e75, #fc7858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}    

/*--------------------------
    MAIN FILLING
---------------------------*/

.main-filling{
    background-color: #ebebeb;
    display: flex;
    flex-basis: 83.5%;
}

/*--------------------------
    MAIN 
---------------------------*/

main{
    flex-basis: 79.183%;
}

main h3{
    font-size: 1.6rem;
    color: #777777;
    margin: 0;
}

main .row,
main header{    
    display: flex;
    border: none;
}

main .monthly-revenue,
main .hour-revenue,
main .customers-feed,
main .today-task,
main .progress,
main .shipments{
    background-color: white;
    margin: 1.0rem;
    box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.13); 
    padding: 3.0rem;
}

main .hour-revenue,    
main .monthly-revenue{
    flex-grow: 1;
}   

main .monthly-revenue header h3{
    margin-right: auto;
}  

main .monthly-revenue header nav{
    align-self: center;
    display: flex;
    margin-bottom: 2.0rem;
}    

main .monthly-revenue header nav button{
    font-size: 1.4rem;
    font-weight: 700;
    color: #bfbfbf;
}    

main .monthly-revenue header nav button.selected{
    background-image: linear-gradient(to left, #f17056 1%,#fd5272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    padding: 0.6rem 1.6rem;
    border-radius: 2.5rem;
}

main .monthly-revenue .more{
    background-image: url(../images/more.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

main .hour-revenue{
    text-align: center;
    position: relative;
}    

main .hour-revenue img{
    margin: 3.0rem 0;
}    

main .hour-revenue .cash{
    position: absolute;
    margin: auto;
    display: block;
    left: 0; right: 0;
    top: 0; bottom: 0;
    height: 3rem;

    font-weight: 700;
    font-size: 2.6rem;
    background-image: linear-gradient(to right, #6359b0, #b26ae1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}    

main .hour-revenue span{
    font-size: 1.2rem;
    color: #bfbfbf;    
    font-weight: 700;
    position: relative;
}    

main .hour-revenue span.came:before{
    content: "▴";
    color: #a889e9;
}

main .hour-revenue span.gone:before{
    content: "▾";
    color: #fd5670;
}

main .customers-feed .comments{
    display: flex;
    margin-top: 2.0rem;
}
main .customers-feed .comments p strong{
    font-weight: 900;
    color: #777777;
}
    
main .customers-feed .comments p{
    padding: 1.5rem;
    border: 0.1rem solid #f1f1f1;
    color: #bfbfbf;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2.0rem;
}    

main .customers-feed .comments figure{
    margin-right: 2.0rem;
    width: 17%;
}

main .customers-feed .comments figcaption{
    font-size: 1.0rem;
    color: #979796;
    text-align: center;
    margin: 1.0rem 0;
}    

main .customers-feed .comments .avatar{
    height: 4.2rem;
    width: 4.2rem;
    overflow: hidden;
    margin: 0 auto;
}

main .customers-feed .comments .sophie img{
    margin-left: -2.0rem;
}    
main .customers-feed .comments .quill img{
    margin-left: -0.5rem;
}    

main .customers-feed .content blockquote{
    margin: 0;
    margin-left: 1.0rem;
    border-left: 0.3rem solid #f1f1f1;
}

main .customers-feed .content blockquote:not(.last){
    padding-bottom: 2.0rem;
}    

main .customers-feed .comments blockquote p{
    margin: 0;
    margin-left: 1.5rem;
}    

main .today-task .task{
    display: flex;
}
    

/*--------------------------
    RIGHT SIDEBAR
---------------------------*/

.right-sidebar{
    flex-basis: 20.817%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.right-sidebar nav{
    background-image: linear-gradient(to left, #f17056 1%,#fd5272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    padding: 1.4rem 0;
}    

.right-sidebar nav .selected{
    background-color: rgba(0, 0, 0, 0.22);
    position: relative;    
}    

.right-sidebar nav .selected:after{
    content: "";
    display: block;
    position: absolute;
    border: 0.5rem solid transparent;	
    border-top: 0.5rem solid #c54556;

    left: 45%;
    top:100%;
}    


.right-sidebar nav button{
    flex-grow: 1;
    align-self: center;
    padding: 1.4rem 0;
}

.right-sidebar .users-list{
    padding: 0;
    margin: 0;
    list-style: none;
}    

.right-sidebar .user{
    display: flex;
    padding: 2.0rem 0;
    margin: 0 2.0rem; 
}

.right-sidebar .users-list li:not(:last-child) .user{
    border-bottom: 0.1rem solid #f1f1f1;
}    

.right-sidebar .user .chat-min{
    background-image: url(../images/right_sidebar/chat_min.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.0rem 0; 
    /* padding: 0 1.8rem; */
}    

.right-sidebar .user figure,
.right-sidebar .user button{
    flex-grow: 1;
    align-self: center;
}

.right-sidebar .user figure{
    flex-grow: 1;
    height: 4.2rem;
    overflow: hidden;
}

.right-sidebar .user figure img{
    width: 4.2rem;
}    

.right-sidebar .user section{
    flex-grow: 2;
    align-self: center;
}

.right-sidebar .user h3,    
.right-sidebar .user p{
    margin: 0;
}

.right-sidebar .user h3{
    font-size: 1.5rem;
    color: #777777;
}

.right-sidebar .user p{
    font-size: 1.2rem;
    color: #bfbfbf;
    margin-top: 0.6rem;
}    


.right-sidebar .search-container{
    background-color: #fcfcfc;
}

.right-sidebar .search-container input{
    width: 60%;
    border: 0;
    border-bottom: 0.1rem solid #f1f1f1;
    background-color:transparent;    
    margin: 1.2rem 2.0rem;    
    padding: 0.8rem 0;
}
    
.right-sidebar .search-container input::placeholder{
    font-weight: 300;
    color: #c8c8c8;
    font-size: 1.2rem;
}    


.right-sidebar .search-container .search,
.right-sidebar .search-container .edit{    
    vertical-align: middle;
    height: 3.2rem;
    width: 2.0rem;
    margin-right: 1.2rem;
    
    background-position: center;
    background-repeat: no-repeat;
}    

.right-sidebar .search-container .search{
    background-image: url(../images/right_sidebar/search.png);
}

.right-sidebar .search-container .edit{
    background-image: url(../images/right_sidebar/edit.png);
}
    

.right-sidebar .sponsors h3{
    color: #777777;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
}    

.right-sidebar .sponsors div{
    /* background-color: orange; */
}    

.right-sidebar .sponsors article{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 1.8rem 16%;
}    
    
.right-sidebar .sponsors article div{
    flex-basis: 30%;
}    