html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato';
    background-color: white;
    color: #13112b;
    font-size: 1.4rem;

    min-height: 100vh;

    display: flex;
    
}

*{
    border: 0.1rem solid black;
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}

figure{
    padding: 0;
    margin: 0;
}

/*--------------------------
    LEFT SIDE BAR
---------------------------*/

.left-sidebar{
    text-align: center;
    background-color: orange;
    flex-basis: 5.164%;
    display: flex;
    flex-direction: column;
}

.left-sidebar nav{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.left-sidebar nav img{
    margin: 0 auto;
    display: block;
}    

.left-sidebar button{
}    

/*--------------------------
    CONTAINER
---------------------------*/

.container{
    flex-basis: 94.836%;
    display: flex;
    flex-direction: column;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    flex-basis: 6.9%;
    display: flex;
    align-content: center;
}

header .search{
    margin:0 auto;
}

header .user{
    display: flex;
}    

header .user figure > img{
    height: 100%;
}    

header .user section h2,
header .user section p{
    padding: 0;
    margin: 0;
}

/*--------------------------
    STATIC BAR
---------------------------*/

.static-bar{
    flex-basis: 9.6%;
    display: flex;
}

.static-bar .static-index{
    align-self: center;
    flex-grow: 1;
}

.static-bar .static-index h3,
.static-bar .static-index p{
    padding: 0;
    margin: 0;
}

/*--------------------------
    MAIN FILLING
---------------------------*/

.main-filling{
    display: flex;
    flex-basis: 83.5%;
}

/*--------------------------
    MAIN 
---------------------------*/

main{
    flex-basis: 79.183%;
}

main .row,
main header{    
    display: flex;
}

main .monthly-revenue header h3{
    margin-right: auto;
}  

main .monthly-revenue header nav{
    align-self: center;
}    

main .row .hour-revenue,    
main .row .monthly-revenue{
    flex-grow: 1;
}    

main .customers-feed .comments{
    display: flex;
}

main .customers-feed .comments img{
    /* height:  */
}    

main .today-task .task{
    display: flex;
}
    

/*--------------------------
    RIGHT SIDEBAR
---------------------------*/

.right-sidebar{
    flex-basis: 20.817%;
}
